.new-collections {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-bottom: 100px;
}

.new-collections h1 {
    color: #171717;
    font-weight: 600;
    font-size: 50px;
}

.new-collections hr {
    width: 180px;
    border-radius: 10px;
    height: 6px;
    background: #252525;
}

/* .new-collections-item {
    margin-top: 50px;
    display: flex;
    gap: 10px;
} */

.collections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 10px;
}